.card-container {
  display: flex;
  flex-direction: column;
  background-color: #333;
  border: 1px solid rgb(47, 46, 46);
  box-shadow: 1px 2px 2px black;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}
