body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to right bottom,
    #1a1718,
    #351527,
    #4b0d3d,
    #5b015c,
    #610082,
    #6b0d9a,
    #731ab4,
    #7927cf,
    #9a33da,
    #b941e5,
    #d74ff0,
    #f45ffb
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
